<ion-content>
  <div class="flex-center"> 
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Recycle-app</ion-card-title>
        <ion-card-subtitle>Recycle-Me-save-life</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ngModel email></ion-input>
          <ion-note slot="helper">Enter a valid email</ion-note>
          <ion-note slot="error">Invalid email</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>


        <ion-button color="success" expand="block">LogIn</ion-button>
        <ion-button color="success" expand="block" fill="clear">Register</ion-button>
        
        <ion-button class="forgot"expand="block">Forgot userId /Password?</ion-button>

      </ion-card-content>
    </ion-card>
  </div>>
</ion-content>
