<ion-header>
  <ion-toolbar color="success">
    <ion-title>Pickup-call</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://tzmedia.b-cdn.net/media/images/static-maps/in/18_9295_72_8331.jpg">
  <ion-card>
    <ion-card-content>
      <p>Address: Fake Street</p>
      <p>compliment: Fake Compliment</p>
      <p>Neighbourhood :Neighbour</p>
      <p>Zip Code : Fake0011</p>
      <p>City name : Fake-city</p>

    </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item lines="inset">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea></ion-textarea>
        </ion-item>
    </ion-list>

    <ion-button size="full" color="primary">Create Pick-up Call !</ion-button>
</ion-content>
